.header 
{
    margin-top: 10px;
    border-radius: 100px;
    width: 70%;
    height: 10%;
    color: black;
    background-color: salmon;
    transition: color 0.5s ease, width 0.5s ease, height 0.5s ease; /* Eliminé la transición de background-color aquí */
    overflow: hidden;
}

.header:hover 
{
    width: 80%;
    height: 12%;
    color: white;
    background-color: salmon; /* Agregué el color de fondo aquí para mantenerlo constante al hacer hover */
}

.header b span:nth-child(1) 
{
    display: block;
    font-size: 35px; /* Tamaño de fuente inicial para el primer span */
    font-family: 'Courier New', Courier, monospace;
    transition: font-size 0.5s ease, font-family 0.5s ease;
}

.header b span:nth-child(2) 
{
    display: block;
    font-size: 10px; /* Tamaño de fuente inicial para el segundo span */
    transition: font-size 0.5s ease;
}


.header:hover b span:nth-child(1) 
{
    font-size: 40px; /* Tamaño de fuente al hacer hover para el primer span */
}

.header:hover b span:nth-child(2) 
{
    font-size: 15px; /* Tamaño de fuente al hacer hover para el segundo span */
}
.FootManualGR
{
    bottom: 0;
    background-color: gray;
    float: none;
    position: fixed;
}

.btn_secondary
{
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family:'Kdam Thmor Pro', sans-serif;
    text-shadow: 15px 5px 10px black;
    color: white;
    background-color: gray;
    height: 40px;
    font-size: 20px;
    transition:height 0.3s ease, backgroud-color 0.3s ease, color 0.3s ease, font-size 0.3s ease;
}

.btn_secondary:hover
{
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family:'Kdam Thmor Pro', sans-serif;
    font-size: 35px;
    text-shadow: 15px 5px 10px black;
    height: 65px;
    background-color: lightgray;
    color: black;
}

body
{
    background-image: url("background.jpg");
    background-size: cover;
}

.div_speed
{
    padding-top: 20px;
    float: left;
}

.div_volume
{
    padding-top: 20px;
    float: right;
}

.img_speed
{
    width: 200px;
    border-radius: 100px;
    padding-bottom: 50px;

    margin-left: 150px;
}

.img_volume
{
    width: 200px;
    border-radius: 100px;
    padding-bottom: 50px;
    margin-right: 150px;
}

#velocidad
{
    font-size: 15px;
    margin: 15px;
    border-radius: 50px;

    width: 200px;
    height: 30px;
    padding-top: 2px;

    margin-left: 150px;

    transition: font-size 0.5s ease, background-color 0.5s ease, padding-top 0.5s ease, width 0.5s ease, height 0.5s ease;

    animation-name: xd1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

#volumen
{
    font-size: 15px;
    margin: 15px;
    border-radius: 50px;

    width: 200px;
    height: 30px;
    padding-top: 2px;

    margin-right: 150px;

    transition: font-size 0.5s ease, background-color 0.5s ease, padding-top 0.5s ease, width 0.5s ease, height 0.5s ease;

    animation-name: xd2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

#velocidad:hover
{
    font-size: 20px;
    margin: 15px;
    border-radius: 50px;

    background-color: lightsalmon;

    padding-top: 10px;
    height: 50px;
    width: 300px;

    animation-name: xd1;
    animation-duration: 10s;
    animation-iteration-count: infinite;

}

#volumen:hover
{
    font-size: 20px;
    margin: 15px;
    border-radius: 50px;

    background-color: lightsalmon;

    padding-top: 10px;
    height: 50px;
    width: 300px;

    animation-name: xd2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

#REPRODUCIR
{
    border-radius: 60px;

    text-align: center;
    margin-top: 530px;
    font-size: 25px;
    margin-left: 20px;

    width: 300px;
    height: 50px;

    transition: width 0.5s ease, height 0.5s ease, font-size 0.5s ease;

    animation-name: xd;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    
}

#REPRODUCIR:hover
{
    border-radius: 60px;

    text-align: center;
    margin-top: 530px;
    font-size: 30px;
    margin-left: 20px;

    width: 350px;
    height: 60px;

    animation-name: xd;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

Canvas
{
    margin-top: 23px;
    border-radius: 60px;
    box-shadow: 10px 10px 10px gray;
    border: 5px white ridge;
}
